<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Form Validation</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>

    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            First Name : <input ng-model="name" /><br>
            Middle Name: <input ng-model="name2"/><br>
            Last Name  : <input ng-model="name3"/><br>
            <h2>{{name}} {{name2}} {{name3}}</h2>
        </div>
    </body>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
          $scope.name = "";
          $scope.name2= "";
          $scope.name3= "";
        });
      </script>
</html>