<html>
   <script
      src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <body ng-app="">
      <h3>click the checkbox to show</h3>
      show <input type="checkbox" ng-model="show">
      <div ng-show="show">
         <h1>Vardhaman College of Engineering</h1>
         <p>Shamshabad</p>
      </div>
      <br>
      <h3>click the checkbox to hide </h3>
      hide <input type="checkbox" ng-model="hide">
      <div ng-hide="hide">
         <h1>Vardhaman College of Engineering</h1>
         <p>Shamshabad</p>
      </div>
   </body>
</html>