<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
.odd {
 color:#ff0075;
 background-color:#721245;
}
.even {
 color:#00ff00;
 background-color:lightgoldenrodyellow;
}
</style>
<body ng-app="myApp">

<table ng-controller="myCtrl">
<tr ng-repeat="x in records" ng-class-odd="'odd'">
 <td>{{x.Name}}</td>
 <td>{{x.Country}}</td>
</tr>
</table>
<table ng-controller="myCtrl">
    <tr ng-repeat="x in records" ng-class-even="'even'">
     <td>{{x.Name}}</td>
     <td>{{x.Country}}</td>
    </tr>
    </table>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
$scope.records = [
 {
 "Name" : "Shane Warne",
 "Country" : "Australia"
 },
 {
 "Name" : "Virat Kohli",
 "Country" : "India"
 },
 {
 "Name" : "Ricky Ponting",
 "Country" : "Australia"
 },
 {
 "Name" : "Rohit Sharma",
 "Country" : "India"
 } ,
{
 "Name" : "Adam Gilchrist",
 "Country" : "Australia"
 } ,
{
 "Name" : "KL Rahul",
 "Country" : "India"
 }
 ]
});
</script>
</body